.leaderboard-container {
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .l-summoners {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
    background-color: #FFFFFF;
    thead {
      height: 48px;
      color: rgba(0,0,0,.54);
      font-size: 13px;
      border-bottom: 1px solid;
      th {
        width: 12.5%;
        font-weight: normal;
      }
    }
    .l-summoner {
      height: 48px;
      color: #000000;
      font-size: 14px;
      border-bottom: 1px solid;
      .l-summoner-status {
        width: 12px;
        height: 12px;
        margin: auto;
        border-radius: 100px;
        background-color: #F45959;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
    .l-summoner:nth-child(even) {
      background-color: #F5F5F5;
    }
  }
}
