.leaderboard-container {
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .l-summoners {
    width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    .l-summoner {
      height: 30px;
      min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      transition: background-color 0.1s ease-in;
      cursor: pointer;
      .l-summoner-champion {
        height: 100%;
        margin-left: 15px;
      }
      .l-summoner-spectate {
        margin-left: 15px;
      }
    }
    .unknown {
      background-color: lightblue;
    }
    .false {
      background-color: lightcoral;
    }
    .true {
      background-color: lightgreen;
    }
  }
}
